body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(#fff,#0584ce);
}


.button {

  display: inline-block;

  padding: 10px 20px;

  font-size: 16px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: #000000;

  background-color:#ffffff;

  border: none;

  border-radius: 10px;

  box-shadow: 0 6px #999;
}
form {
  background-color: #cccccc;
  padding: 55px;
  margin: 55px;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;}

