body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #3A98B9;
}


.button {

  display: inline-block;

  padding: 10px 20px;

  font-size: 16px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: #000000;

  background-color:#ffffff;

  border: none;

  border-radius: 10px;

  box-shadow: 0 6px #999;
}
